@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

[class*="__container"] {
	max-width: 810px;
	margin: 0px auto;
}

[class*="bk__"] {
	max-width: 900px;
	margin: 0px auto;
}

.title {
	margin-bottom: 92px;
}

.title-name {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.5;
}

.img {
	max-width: 100%;
	margin-bottom: 60px;
}

.text-first {
	margin-bottom: 24px;
}

.text-bold {
	font-weight: 700;
	font-size: 20px;
}

.text-second {
	font-size: 16px;
	margin-bottom: 48px;
}

.text-center {
	margin-bottom: 25px;
}

.text-three {
	margin-bottom: 24px;
}

.text-quote {
	font-weight: 700;
	font-size: 20px;
	padding-left: 58px;
	margin-bottom: 48px;
}

.text-four {
	margin-bottom: 24px;
}

.list {
	margin-left: 16px;
}

.list-item {
	padding: 4px;
}

.text-end {
	margin-bottom: 63px;
}

.background-main {
	background-image: url("../img/deadstr.png");
}

.background-color {
	margin-bottom: 24px;
}

.background-color-2 {
	background-color: coral;
}

.background-image-gradient {
	margin-bottom: 24px;
}

.bk-image {
	color: white;
	background-image: url("../img/overwatch.jpg");
	margin-bottom: 24px;
}

.bk-gradiet {
	background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

.background-image-repeate {
	margin-bottom: 24px;
}

.repeat {
	background-image: url("../img/kaiju.png");
	background-repeat: repeat;
	margin-bottom: 24px;
}

.no-repate {
	background-image: url("../img/reinhardt.jpg");
	background-repeat: no-repeat;
	margin-bottom: 24px;
}

.repeate-x {
	color: #ff3f3a;
	background-image: url("../img/krut.jpg");
	background-repeat: repeat-x;
	margin-bottom: 24px;
}

.repeate-y {
	background-image: url("../img/tiger.png");
	background-repeat: repeat-y;
	margin-bottom: 24px;
	padding: 300px;
}

.background-position {
	margin-bottom: 24px;
}

.position {
	background-image: url("../img/warriors.jpg");
	background-position: center;
}

.fixed-scroll {
	color: coral;
	background-image: url("../img/tumblr.png");
	background-attachment: fixed;
	margin-bottom: 24px;
}

.scroll-scroll {
	color: red;
	background-image: url("../img/lari.png");
	background-attachment: scroll;
	margin-bottom: 24px;
}

.size {
	background-image: url("../img/warriors.jpg");
	background-size: contain;
}
